{% extends 'core/base.html' %}{% block title %}Homepage{% endblock %}
{% load static %}
{% block content %}
<main id="main" class="main">
	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-xxl-4 col-md-6">
						<div class="card info-card vehicles-card">
							<div class="filter">
								<a class="icon" href="" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
									<h6>Filter</h6>
									</li>
				
									<li><a class="dropdown-item" href="">Today</a></li>
									<li><a class="dropdown-item" href="">This Month</a></li>
									<li><a class="dropdown-item" href="">This Year</a></li>
								</ul>
							</div>
			
							<div class="card-body">
								<h5 class="card-title">Reported crimes <span>| Today</span></h5>
								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-car-front-fill"></i>
									</div>
									<div class="ps-3">
										<h6>{{ TotalCrimes|default:0 }}</h6>
										<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>	
									</div>
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-xxl-4 col-md-6">
						<div class="card info-card victims-card">
							<div class="filter">
								<a class="icon" href="" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
									<h6>Filter</h6>
									</li>
				
									<li><a class="dropdown-item" href="">Today</a></li>
									<li><a class="dropdown-item" href="">This Month</a></li>
									<li><a class="dropdown-item" href="">This Year</a></li>
								</ul>
							</div>
			
							<div class="card-body">
								<h5 class="card-title">Road accidents <span>| This Month</span></h5>
								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-people-fill"></i>
									</div>
									<div class="ps-3">
									<h6>{{ TotalRoadAccidents|default:"0" }}</h6>
									<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
				
									</div>
								</div>
							</div>
			
						</div>
					</div>
		
					<div class="col-12">
						<div class="card">
							<div class="filter">
								<a class="icon" href="" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
									<h6>Filter</h6>
									</li>
				
									<li><a class="dropdown-item" href="">Today</a></li>
									<li><a class="dropdown-item" href="">This Month</a></li>
									<li><a class="dropdown-item" href="">This Year</a></li>
								</ul>
							</div>
			
							<div class="card-body">
								<h5 class="card-title">Incidents rate <span>/Today</span></h5>
								<div id="reportsChart"></div>
				
								<script>
									document.addEventListener("DOMContentLoaded", () => {
									new ApexCharts(document.querySelector("#reportsChart"), {
										series: [{
										name: 'Motorcycles',
										data: [31, 40, 28, 51, 42, 82, 56],
										}, {
										name: 'Trucks',
										data: [11, 32, 45, 32, 34, 52, 41]
										}, {
										name: 'Motorcars',
										data: [15, 11, 32, 18, 9, 24, 11]
										}],
										chart: {
										height: 350,
										type: 'area',
										toolbar: {
											show: false
										},
										},
										markers: {
										size: 4
										},
										colors: ['#4154f1', '#2eca6a', '#ff771d'],
										fill: {
										type: "gradient",
										gradient: {
											shadeIntensity: 1,
											opacityFrom: 0.3,
											opacityTo: 0.4,
											stops: [0, 90, 100]
										}
										},
										dataLabels: {
										enabled: false
										},
										stroke: {
										curve: 'smooth',
										width: 2
										},
										xaxis: {
										type: 'datetime',
										categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
										},
										tooltip: {
										x: {
											format: 'dd/MM/yy HH:mm'
										},
										}
									}).render();
									});
								</script>
							</div>
			
						</div>
					</div>
		
					<div class="col-12">
						<div class="card recent-sales overflow-auto">
							<div class="filter">
								<a class="icon" href="" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
									<h6>Filter</h6>
									</li>
				
									<li><a class="dropdown-item" href="">Today</a></li>
									<li><a class="dropdown-item" href="">This Month</a></li>
									<li><a class="dropdown-item" href="">This Year</a></li>
								</ul>
							</div>
			
							<div class="card-body">
								<h5 class="card-title">Most wanted <span>| Today</span></h5>
								<table class="table table-bordered table-striped">
									<thead>
										<tr class="table-active">
											<th>#</th>
											<th>County</th>
											<th>Sub-county</th>
											<th>Road</th>
											<th>Details</th>
											<th>Date of Occurence</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
			
						</div>
					</div>
				</div>
			</div>
	
			<div class="col-lg-4">
				<div class="card">
					<div class="filter">
						<a class="icon" href="" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
							<li class="dropdown-header text-start"><h6>Filter</h6></li>
							<li><a class="dropdown-item" href="">Today</a></li>
							<li><a class="dropdown-item" href="">This Month</a></li>
							<li><a class="dropdown-item" href="">This Year</a></li>
						</ul>
					</div>
		
					<div class="card-body">
						<h5 class="card-title">Reported incidents <span>| Today</span></h5>
						<div class="activity">
							{% for incident in incidents %}
							<div class="activity-item d-flex">
								<div class="activity-label">{{ incident.reported }}</div>
								<i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
								<div class="activity-content">
									{{ incident.description|truncatewords:7 }}
								</div>
							</div>
							{% empty %}
							<div class="activity-item text-center">
								<div class="activity-content">
									<p class="small text-muted fst-italic">No records available</p>
								</div>
							</div>
							{% endfor %}				
						</div>
			
					</div>
				</div>
		
				<div class="card">
					<div class="card-body pb-0">
						<h5 class="card-title">Incidents stats</h5>
						<div id="trafficChart" style="min-height: 400px;" class="echart"></div>
						<script>
							document.addEventListener("DOMContentLoaded", () => {
							echarts.init(document.querySelector("#trafficChart")).setOption({
								tooltip: {
								trigger: 'item'
								},
								legend: {
								top: '5%',
								left: 'center'
								},
								series: [{
								name: 'Access From',
								type: 'pie',
								radius: ['40%', '70%'],
								avoidLabelOverlap: false,
								label: {
									show: false,
									position: 'center'
								},
								emphasis: {
									label: {
									show: true,
									fontSize: '18',
									fontWeight: 'bold'
									}
								},
								labelLine: {
									show: false
								},
								data: [{
									value: 1048,
									name: 'Motorcycles'
									},
									{
									value: 735,
									name: 'Motor cars'
									},
									{
									value: 580,
									name: 'Trucks'
									},
									{
									value: 484,
									name: 'Bicycles'
									},
									{
									value: 300,
									name: 'Pedestrians'
									}
								]
								}]
							});
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</section>	
  </main>
{% endblock %}