{% extends 'core/base.html' %}{% block title %}Map{% endblock %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="toast-container" aria-live="polite" aria-atomic="true" style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;"></div>
                <div class="card info-card">
                    <div id="map-info-card" class="card-body">
                        <h5 id="map-card-title" class="card-title"><i class="bi-geo-alt-fill"></i> Geographical map</h5>
                        <div id="geo-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    {{ accidents_spots|json_script:"black-spots" }}
    {{ crime_scenes|json_script:"crime-scenes" }}
    <script src="{% static 'js/map.js' %}"></script>
</main>
{% endblock %}