{% load filters %}
<main id="main" class="main">
	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-7">
				<div class="row" data-aos="fade-up" data-aos-delay="100">
					<div class="col-md-9 offset-sm-3">
					{% include 'core/partials/users/feed.html' %}
					</div>
				</div>
			</div>
	
			<div class="col-lg-5">
				<div class="row ms-2" data-aos="fade-up">
					<h5 class="card-title text-muted ms-3">Wanted suspects</h5>
					{% for suspect in wanted_suspects %}
					<div class="row">
						<div class="col-md-2" data-aos="fade-left" data-aos-delay="100">
							<img class="rounded-circle" src="{{ suspect.suspect_img.url }}" height="50px" width="50px" alt="img">
						</div>
						<div class="col-md-7" data-aos="fade-right" data-aos-delay="100">
							<p class="small text-muted"><b class="text-dark">{{ suspect.name }}</b> {% if suspect.nickname %}alias {{ suspect.nickname }}</p>{% endif %}
							<p class="small text-muted" style="margin-top: -3vh;">Crime: {{ suspect.crime }}</p>
							<p class="small text-muted" style="margin-top: -3vh;">Reward: Kshs.{{ suspect.bounty|floatformat:"g" }}/=</p>
						</div>
						<div class="col-md-2" data-aos="fade-right" data-aos-delay="100">
							<a hx-get="{% url 'report_suspect' suspect.id %}" hx-trigger="click" hx-push-url="{% url 'report_suspect' suspect.id %}" hx-swap="outerHTML" hx-target="#wrapper" class="btn btn-sm btn-outline-danger mb-2">Report</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% if page.number %}
			<div class="col-sm-12 mt-4">
				<nav aria-label="pages">
					<ul class="pagination pagination-md justify-content-center">
						{% if page.has_previous %}
							<li class="page-item"><a href="{% url 'homepage' %}" class="page-link">First</a></li>
							<li class="page-item"><a hx-get="{% url 'homepage' %}?page={{ page.previous_page_number }}" hx-trigger="click" hx-swap="outerHTML" hx-target="#wrapper" class="page-link">&laquo;</a></li>
						{% endif %}
						{% for num in page.paginator.page_range %}
							{% if page.number == num %}
								<li class="page-item active" aria-current="page"><a class="page-link" hx-get="{% url 'homepage' %}?page={{ num }}" hx-trigger="click" hx-swap="outerHTML" hx-target="#wrapper">{{ num }}</a></li>
							{% elif num > page.number|add:"-5" and num < page.number|add:"5" %}
								<li class="page-item"><a class="page-link" hx-get="{% url 'homepage' %}?page={{ num }}" hx-trigger="click" hx-swap="outerHTML" hx-target="#wrapper">{{ num }}</a></li>
							{% endif %}
						{% endfor %}
						{% if page.has_next %}
							<li class="page-item"><a hx-get="{% url 'homepage' %}?page={{ page.next_page_number }}" hx-trigger="click" hx-swap="outerHTML" hx-target="#wrapper" class="page-link">&raquo;</a></li>
							<li class="page-item"><a hx-get="{% url 'homepage' %}?page={{ page.paginator.num_pages }}" hx-trigger="click" hx-swap="outerHTML" hx-target="#wrapper" class="page-link">Last</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
			{% endif %}
		</div>
	</section>	
	{% include 'footer.html' %}
</main>